ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
}

.fl-btn {
    height: 55px;
    font-weight: bold;
}

.fl-round-toast {
    --width: 60%;
    --height: 120px;
    --border-radius: 20px;
    --background: var(--ion-color-primary);
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    transform: translateY(-50px);
}
