ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
}

.fl-btn {
    height: 55px;
    font-weight: bold;
}

.fl-round-toast {
    --width: 60%;
    --height: 120px;
    --border-radius: 20px;
    --background: var(--ion-color-primary);
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    transform: translateY(-50px);
}

.fl-round-toast::part(message) {
    line-height: unset !important;
}

.fl-error-alert {
    --border-radius: 15px;
    --border-width: 3px;
    --border-style: solid;
    --border-color: var(--ion-color-danger-shade);
    --background: #f9c8ce;
}

.fl-error-alert::part(message) {
    text-align: center;
    line-height: 1.5;
    color: var(--ion-color-danger-shade);
    font-weight: bold;
}

.fl-toast::part(message) {
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
}
